extends base
include mixins/video

block content
    h2 Welcome! here you will see the trending videos
    nav
        ul 
            li 
                a(href="/videos/upload") Upload Video
    each video in videos
        +video(video)
    else 
        li Sorry, no videos found

